a{
  color:inherit;
  text-decoration: none;
}
ul{
  margin:0;
  padding: 0;
}
li{
  list-style-type: none;
}
*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
  background-color: #81add6;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper{
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
border-radius: 20px;
max-width: 1080px;
margin:50px auto;
.drawershadow{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}
.drawer-block{ 
display: flex;
flex-direction: column;
position: absolute;
width: 420px;
right: 0;
height: 100%;
padding: 30px;
background: #FFFFFF;
box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

.close{


 display: flex;
 justify-content: space-between;
 align-items: center;

 img{
  position: absolute;
  right: 20px;
  top: 30px;
  width: 30px;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.5;
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
 }
}

.addeditems{
  width: 430px;
  overflow: auto;
  height: 70%;
  margin-bottom: 20px;
  ::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid #ccc;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }

}

.order{
  div{
    border: 1px dashed #DFDFDF;
    flex: 1;
    height: 1px;
    box-sizing: border-box;
    margin: 0 5px ;
  }
  li{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  span{
    font-size: 20px;
    font-weight: bold;
  }
  b{
    font-size: 20px;
  }

}

.placeorder{

margin-top: 15px;
display: flex;


  button{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: 1px ;
  text-decoration:none;
  font-size: 24px;
  color: #FFFFFF;
  transition: background-color 0.3s ease-in-out;
  
  &:hover{
    background: darken( #9dd558 ,10%);
    img{
      transform: translateX(10px);
    }
    span{
      transform:translateX(5px);
    }
  }
  &:active{
    background: lighten( #9dd558 ,10%);

  }
  img{
    position: absolute;
    right: 70px;
    transition: transform 0.2s ease-in-out;
  }
  span{
    font-size: 28px;
    margin-right: 10px;
    transition: transform 0.2s ease-in-out;
  }
  }
}
h2{
  margin: 0 0 30px 0;
  font-size:29px;
}

.cartadded{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  width: 410px;
  align-items: center;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;


  &:hover{
    box-shadow: #81add6 0px 3px 10px;
    transform : translateY(-5px);
  }

  .addedimg{
    width: 80px;
    height: 70px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 15px 0 10px;

  }
  .addeditemtext{
    b{
      cursor: default;
      padding-left: 20px;
      font-size: 18px;
    }
  
    p{
    cursor: default;
    width: 250px;
    text-align: center;
    font-size: 18px;
    margin: 10px 10px 0 0;
  }
  }
  .addedremove{
    opacity: 0.5;
    margin-right: 0px;
    transition: opacity 0.2s ease-in-out;
    &:hover{
      opacity: 1;
      cursor: pointer;
    }
  }
}
}
}
header{
  border-bottom: 1px solid #eaeaea;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
  display: flex;

  .headerRight{
    span{
      margin-left:10px;      
    }
  }
  .headerLeft{
    display: flex;
  }
  .headerInfo{
  
    margin: 0;
    padding: 0;
  }
  h3{
    font-size: 35px;
    font-family: 'Noto Serif Georgian',serif;
    margin: 10px;
  }
  p{
    margin: 0;
  }
  .wrapper{
    display: flex;
    align-items: center;
    img{
      margin-right: 15px;
    }

  }
  ul{
    display: flex;
  }
  li{
    margin-right: 30px;
  }
}

.content{
  padding: 40px;
  .maincards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .search-box{
    align-items: center;
    border-radius: 10px;
    display: flex;
    padding: 0 15px;
    border: 1px solid #dbdbdb;

    input{
      width: 200px;
      border: 0;
      padding: 13px ;
      font-size: 16px;
    }

  }
  .content-header{
    justify-content: space-between;
    margin-bottom: 40;
    display: flex;
    align-items: center;
  }
  .card{
    display: inline-block;
    margin: 10px 45px 10px 45px;
    padding: 30px;
    width: 170px;
    background: #FFFFFF;
    border: 1px solid #dbdbdb;
    border-radius: 40px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    &:hover {
      box-shadow: #81add6 0px 10px 40px;
      transform : translateY(-5px);
      cursor: pointer;

     }


    .favorite{
      position: absolute;
      cursor: pointer;
    }

    span{
      font: size 12px;
      opacity: 0.5;
      text-transform: uppercase;
    }
    .item-img{
      margin: 0 18px 0 18px;
      
    }
    h5{
      font-weight: 400;
      font-size:18px
    }

  }
  h1{
    font-family: 'Noto Serif Georgian', serif;
    
  }
  .card-button{
    b{
      margin-left: 3px;
  } justify-content: space-between;
  display: flex;
  }
  .card-price{
    margin-top: 5px;
    display: flex;
  }

.add-button{
  border: 1px solid #dbdbdb;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
}


